[Unit]
Description=Set color temperature based on time
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=%h/.local/bin/set-color-temperature.sh

[Install]
WantedBy=graphical-session.target
